{% extends 'index.html' %}

{% block tittle %}
    upload
{% endblock %}

{% block form %}
<div class="container">
        
    <div class="box2">
        
        <div class="header">
            <p>Upload your video here 👇</p>
        </div>
        <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
            
            <input class="vid1" type="file" name="video" accept="mp4">
            
            <div class="input-box">
            <input type="submit" class="input-submit" value="Upload">
            </div>
        </form>
       
    </div>
    <div class="wrapper"></div>
  </div>
{% endblock %}

